<div class="page">
  <a class="btn btn-primary pull-left" href="exercice/" role="button">↵ Retour</a>
  <br>


  <div *ngFor="let exercice of item; let i = index">
    <div *ngIf=" !exercice.disponible ">
      Cet exercice n'est pas encore disponible ! Validez les exercices précédents
    </div>
    <div *ngIf=" exercice.disponible ">

      <div class="row">
        <div class="col-6">
          <div class="titre">
            <h1>{{ exercice.titre }}</h1>
          </div>
          <hr>
          <div class="contenu">
            <p class="list-group-item-text" [innerHTML]="exercice.contenu "></p>
            <p> Vous aurez besoin de ces cubes :</p>
            <div *ngFor="let cube of cubeNeeded | keyvalue">
              <div class="cubeValue">
                {{ cube.value }}
              </div>

            </div>
          </div>
        </div>
        <div class="col-6">
          <img id="imgDiv" class="img" [src]= "imgUrl"  >
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-4">
          <button (click)="checkWithCubes()" type="button" class="btn btn-primary">Comparer la réponse avec les cubes</button>
        </div>
        <div *ngIf="showExercice == true" class="col-4">
          <button type="button" class="btn btn-success" (click)="changeImg(exercice.imgPath)" >Voir l'exercice</button>
        </div>
        <div *ngIf="showExercice == false" class="col-4">
          <button type="button" class="btn btn-warning" (click)="changeImg(exercice.imgReponsePath)" >Voir la réponse</button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-danger">Valider l'exercice</button>
        </div>
      </div>

    </div>



  </div>
</div>





