.page{
  background-color: #456990;
  color:white;
  border-color: #F5B82E;
  border-width : 2px ;
  border-style: solid;
  /*height: 90vh;*/
  text-align: center;
  padding-bottom: 20px;
}

.titre{
  text-align: left;
  font-family: Roboto, serif;
  margin: 3%;
}

.contenu{
  text-align: left;
  font-family: Roboto, serif;
  margin: 3%;
}

.video{
  align-content: center;
  margin: 3%;
}

p{
  font-size: 20px;
}

img{
  height: 400px;
  width: auto;
  border-radius: 20px;
  border: 3px solid #F5B82E;
}

.cubeValue{
  margin: 1%;
  width: 20%;
  border-color: #F5B82E;
  border-width : 2px ;
  border-style: solid;
  text-align: center;
}

.masterCube{
  height: 200px;
  width: 200px;
  background-color: #F5B82E;
}

.cube{
  height: 200px;
  width: 200px;
  border: #F5B82E;
  border-width : 2px ;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
  color: #04080F;
  font-weight: bold;
  font-size: 20px;
}

.table-content{
  text-align: center;
  margin: 0 auto;
  width:100px;
}

.vide{
  background-color: #456990;
  vertical-align: middle;
}

.AVANCER{
  background-color: crimson;
  vertical-align: middle;
}

.EGAL{
  background-color: green;
  vertical-align: middle;
}

.TROIS{
  background-color: slateblue;
  vertical-align: middle;
}

.UN{
  background-color: lawngreen;
}

.DEUX{
  background-color: aquamarine;
}

.VIRAGEGAUCHE{
  background-color: antiquewhite;
}
