.page{
  background-image: url('../../assets/images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  border-color: #BFAB25;
  border-width : 2px ;
  border-style: solid;
  text-align: center;
  padding: 15%;
  margin-top: 12%;
}

.titre{
  text-align: left;
  font-family: 'Abril Fatface', cursive;
  margin: 3%;
}

.contenu{
  font-family: 'Lato', sans-serif;
  line-height: 27px;
  font-size: 127%;
  text-align: left;
}

.video{
  align-content: center;
  margin: 3%;
}

p{
  font-size: 20px;
}

img{
  height: 400px;
  width: auto;
  border-radius: 20px;
  border: 3px solid #F5B82E;
}

.cubeValue{
  margin: 1%;
  width: 25%;
  border-color: #F5B82E;
  border-width : 2px ;
  border-style: solid;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;

}

.masterCube{
  height: 100px;
  width: 100px;
  background-color: #F5B82E;
}

.cube{
  height: 100px;
  width: 100px;
  border: #F5B82E;
  border-width : 2px ;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
  color: #04080F;
  font-weight: bold;
  font-size: 20px;
}

.table-content{
  text-align: center;
  margin: 0 auto;
  width:100px;
}

.vide{
  background-color: #456990;
  vertical-align: middle;
}

.AVANCER{
  background-color: crimson;
  vertical-align: middle;
}

.EGAL{
  background-color: green;
  vertical-align: middle;
}

.TROIS{
  background-color: slateblue;
  vertical-align: middle;
}

.UN{
  background-color: lawngreen;
}

.DEUX{
  background-color: aquamarine;
}

.VIRAGEGAUCHE{
  background-color: antiquewhite;
}
