<div class="page">
  <a class="btn btn-primary pull-left" href="exercice/" role="button">↵ Retour</a>
  <br>


  <div [style.display]="showModalData ? 'block' : 'none'" class="modal" id="imagemodal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel2">Avant de commencer l'exercice</h4>
        </div>
        <div class="modal-body">
<!--            <div class="col-6">-->
            <p>Les cubes connectés actuellement :</p>
<!--              <ul>-->
                <!-- Form starts -->
                <form id="cubeIdToAction" (ngSubmit)="onSubmit()">
                  <div *ngFor="let userItem of userResponseValue; index as i; ">
                    <div class="row">
                      <div class="col-6">
                        {{ userItem }}
                      </div>
                      <div  class="col-6">
                        <select class="select"  name="{{ userItem }}">
                            <option *ngFor="let cubeItem of cubeNeeded; index as i; " value="{{ cubeItem }}">{{ cubeItem }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
<!--                  <select multiple formControlName="cityName">-->
<!--                    <option value="">Choose your city</option>-->
<!--                    <option *ngFor="let city of City" [ngValue]="city" (change)="changeCity($event)">{{city}}-->
<!--                    </option>-->
<!--                  </select>-->

                  <!-- Submit Button -->
                  <div class="row">
                    <button type="submit" class="btn btn-warning btn-lg btn-block">recharger</button>
                  </div>
                  <div class="row">
                    <button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>
                  </div>
                </form><!-- Form ends -->

<!--              </ul>-->
<!--            <div class="col-6">-->
<!--              <p> Les valeurs de ces cubes seront :</p>-->
<!--              <ul>-->
<!--                <li *ngFor="let item of cubeNeeded; index as i; ">-->
<!--                  {{ item }}-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
          <p> Pour cette exercice, vous aurez besoin de {{nbCube}} cubes.</p>

          <p>
            <u>
            Afin de les parametrer, connectez les un par un au cube master, afin de leur associer la valeur correspondante
            </u>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hideDeleteData()">J'ai compris</button>
        </div>
      </div>
    </div>
  </div>


  <div *ngFor="let exercice of item; let i = index">
    <div *ngIf=" !exercice.disponible ">
      Cet exercice n'est pas encore disponible ! Validez les exercices précédents
    </div>
    <div *ngIf=" exercice.disponible ">

      <div class="row">
        <div class="col-6">
          <div class="titre">
            <h1>{{ exercice.titre }}</h1>
          </div>
          <hr>
          <div class="contenu">
            <p class="list-group-item-text" [innerHTML]="exercice.contenu "></p>
            <p> Vous aurez besoin de ces cubes :</p>
            <div *ngFor="let cube of cubeNeeded | keyvalue">
              <div class="cubeValue">
                {{ cube.value }}
                {{ addClassToArray(cube.value) }}
              </div>

            </div>
          </div>
        </div>
        <div class="col-6">
          <img id="imgDiv" class="img" [src]= "imgUrl"  >
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-4">
          <button (click)="checkWithCubes()" type="button" class="btn btn-primary">Comparer la réponse avec les cubes</button>
        </div>
        <div *ngIf="showExercice == true" class="col-4">
          <button type="button" class="btn btn-success" (click)="changeImg(exercice.imgPath)" >Voir l'exercice</button>
        </div>
        <div *ngIf="showExercice == false" class="col-4">
          <button type="button" class="btn btn-warning" (click)="changeImg(exercice.imgReponsePath)" >Voir la réponse</button>
        </div>
        <div class="col-4">
          <button (click)="setFinished(exercice.id_exercice)" type="button" class="btn btn-danger">Valider l'exercice</button>
        </div>
      </div>

      <br>

      <div class="row" id='cubeShow'>
        <div class="col-3"></div>
        <div class="col-6">
<!--          RESOLUTION VIA CUBE-->
          <table class="center ">
            <div *ngFor="let item_y of arrayOne(exercice.matrix_size_y_board); let iyBoard = index;">
              <tr>
                 <span *ngFor="let item_x of arrayOne(exercice.matrix_size_x_board); let ixBoard = index;">
                   <td class="cube vide" id="{{'virt'+ixBoard+''+iyBoard}}">
                   </td>
                 </span>
              </tr>
            </div>
          </table>
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6 table-content">
          <p>
            Pas de cubes ? Tentez de résoudre l'exercice ici avant de regarder la réponse !
          </p>
<!--          RESOLUTION VIRTUELLE-->
<!--parcourt la taille de matrice de bdd, et creer un tableau selon cette taille-->
            <table class="center">
              <tr>
                <td>
                  <div class="masterCube">
                  </div>
                </td>
              </tr>
              <div *ngFor="let item_y of arrayOne(exercice.matrix_size_y); let iy = index;">
                <tr>
                 <span *ngFor="let item_x of arrayOne(exercice.matrix_size_x); let ix = index;">
                   <td (click)="manageClass(''+this.y+iy+''+this.x+ix )" class="cube vide" id="{{ ''+this.y+iy+''+this.x+ix }}">
                   </td>
                 </span>
                </tr>
              </div>
            </table>
        </div>
        <div class="col-3">

        </div>
      </div>



    </div>



  </div>
</div>





