.page{
  background-image: url('../../assets/images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  border-color: #BFAB25;
  border-width : 2px ;
  border-style: solid;
  text-align: center;
  padding: 0 7%;
}

.row {
  margin : 15% 0;
}

#data-content{
  border-color: #F5B82E;
  border-width : 2px ;
  border-style: solid;
  min-height: 100px;
  margin: 10px;
  padding: 5%;
}
.btn {
  margin-right: 3%;
}
#btn-content{
  padding: 10px;
  margin: 10px;
}

h1, h2 {
  font-family: 'Abril Fatface', cursive;
}
p {
  font-family: 'Lato', sans-serif;
  line-height: 27px;
  font-size: 127%;
}

.chart{
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
