<div class=" page">

  <h2>Vous êtes connecté en  tant que {{ userEmail }}</h2>

  <div class="row">
    <div class="col-3"></div>
    <div id="data-content" class="col-6">
      <p>    Merci d'utiliser Tesserakt</p>
      <p>Tesserakt vous informe que vos données ne seront pas utilisées à des fins commerciales,
        mais seulement dans le but de statistiques et d'apprentissages personnels</p>
      <p><u>Vous pouvez supprimer vos données personnelles ou votre compte via les boutons ci-dessous :</u></p>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="btn-content">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <button (click)="showData()" class="btn btn-warning">Supprimer mes données</button>
        <button (click)="show()" class="btn btn-danger">Supprimer mon compte</button>
      </div>
      <div class="col-3"></div>
    </div>
  </div>

    <div class="chart">
      <app-time-chart></app-time-chart>
    </div>


</div>

<!--MODAL sup compte-->
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Supprimer mon compte</h4>
      </div>
      <div class="modal-body">
        <p style="color: red">Rentrez vos informations pour confirmer la suppression</p>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Vous devez rentrer un Email</div>
                  <div *ngIf="f.email.errors.email">Votre adresse Email doit être valide</div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Vous devez rentrer un mot de passe</div>
                  <div *ngIf="f.password.errors.minlength">Mot de passe invalide</div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hide()">Annuler</button>

      </div>
    </div>
  </div>

</div>

<!--MODAL SUP DATA-->
<!--MODAL sup compte-->
<div [style.display]="showModalData ? 'block' : 'none'" class="modal" id="imagemodal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel2">Supprimer mes données</h4>
      </div>
      <div class="modal-body">
        <p>Voulez-vous vraiment supprimer vos données ?</p>
        <p><button (click)="deleteuserData()" class="btn btn-warning">Supprimer les donner</button></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hideDeleteData()">Annuler</button>

      </div>
    </div>
  </div>


</div>
