<div class="page">
  <br>
  <img width="60" height="40" src="assets/logo.png" alt="logoTesserakt"/>
  <h1>
    Bienvenue sur Tesserakt !
  </h1>

  <u>Vous pouvez commencer par <a routerLink="/login">vous connecter</a></u>


  <div class="bording">

    <div class="content">
      <h2>Qu'est-ce-que Tesserakt ?</h2>
      <p>Tesserakt est un produit permettant l'apprentissage des notions basique et avancés de l'enformatique des le plus
        jeune age, en permettant une approche physique avec les éléments de code par le biai de cubes à moduler. </p>
    </div>
  </div>

  <div class="bording">
    <div class="content">
      <h2>Comment se procurer un kit Tesserakt ?</h2>
      <p>Le projet étant en phase de lancement, nous vous invitons a prendre contact avec nous à l'adresse Tesserakt@gmail.com.</p>
      <p>Le kit Tesserakt contient un cube Master régler selons vos paramètres de connections, 5 cubes commandes ainsi que l'accès à nos cours et à nos exercices</p>
    </div>
  </div>

</div>
<!--  <carousel [itemsPerSlide]="itemsPerSlide"-->
<!--            [singleSlideOffset]="false"-->
<!--            [interval]="false"-->
<!--            [indicatorsByChunk]="true">-->
<!--    <slide *ngFor="let slide of slides; let index=index" class="mx-auto">-->
<!--      <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">-->
<!--      <div class="carousel-caption">-->
<!--        <h4>Slide {{index}}</h4>-->
<!--      </div>-->
<!--    </slide>-->
<!--  </carousel>-->

<!--</div>-->

