.row{
  margin: 3%;
}

.page{
  background-color: #456990;
  color: darkgray;
  border-color: #F5B82E;
  border-width : 2px ;
  border-style: solid;
  height: 90vh;
  text-align: center;
  align-content: center;
}

.content-col{
  width: 100%;
  height: auto;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  border-color: #F5B82E;
}

.list-group-item{
  border-color: #F5B82E;
  border-width : 3px ;
  border-style: solid;
  border-radius: 10px;
}

.exo-status-valide{
  color: greenyellow;
}

.exo-status-a-faire {
  color: red;
}
