<div class=" page">
  <div class="row">
    <div class="col-xs-12 content-col">
      <h2>Vos exercices</h2>
      <div class="list-group">
        <div
          class="list-group-item"
          *ngFor="let exercice of lesExercices; let i = index">
          <h3 class="list-group-item-heading titre">
            <a (click)="showOneExercice(exercice.id_exercice )" > {{ exercice.titre }}</a>
          </h3>
          <!--          <p class="list-group-item-text">{{ cours.payload.doc.data().contenu }}</p>-->
        <span class="exo-status-valide" *ngIf="exercice.isDone === true">
          validé
        </span>
        <span class="exo-status-a-faire" *ngIf="exercice.isDone === false">
          à faire
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
