<div class="page">
  <a class="btn btn-primary pull-left" href="cours/" role="button">↵ Retour</a>

  <div *ngFor="let cours of item; let i = index">

    <div class="row">
      <div class="col">

        <div class="titre">
            <h1>{{ cours.titre }}</h1>
        </div>

        <hr>

        <div class="contenu">
          <p class="list-group-item-text" [innerHTML]="cours.contenu "></p>
        </div>

      </div>

      <div class="col video">
        <!--      <img class="img" src="assets/light_bulb.png" alt="bulb"  />-->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JDXepCfY2cg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      </div>
    </div>

    <a class="btn btn-warning" (click)="showExerciceById(cours.id_exercice)"  role="button">Acceder à l'exercice</a>

  </div>
</div>





