.page{
  background-image: url('../../assets/images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  border-color: #BFAB25;
  border-width : 2px ;
  border-style: solid;
  text-align: center;
  padding: 15%;
  margin-top: 12%;
}

.titre{
  text-align: left;
  font-family: 'Abril Fatface', cursive;
  margin: 3%;
}

.contenu{
  font-family: 'Lato', sans-serif;
  line-height: 27px;
  font-size: 127%;
}

.video{
  align-content: center;
  margin: 3%;
}

p{
  font-size: 20px;
}
