<div class=" page">
  <div class="row">
    <div class="col-xs-12 content-col">
      <h2>Vos cours</h2>
      <div class="list-group">
        <div
          class="list-group-item"
          *ngFor="let cours of items; let i = index">
          <h3 class="list-group-item-heading titre">
            <a (click)="showOneCours(cours.payload.doc.data().numero )" > {{ cours.payload.doc.data().titre }}</a>
          </h3>
        </div>

<!--        {{ tousLesCours }}-->

<!--        <div-->
<!--          class="list-group-item"-->
<!--          *ngFor="let cours of tousLesCours">-->

<!--          <div class="list-group-item-heading">-->
<!--            prout-->
<!--          </div>-->
<!--        </div>-->

      </div>
    </div>
  </div>
</div>
