.page{
  background-color: #456990;
  color:white;
  border-color: #F5B82E;
  border-width : 2px ;
  border-style: solid;
  height: 90vh;
  text-align: center;
}

.intro{
  text-align: center;
}

P{
  text-align: center;
  font-family: Roboto, sans-serif;
}
