

<div class="container">
  <h1 class="display-4 mt-5 mb-0">S'inscrire</h1>
  <hr class="mt-0 mb-5 bg-dark">
    <div *ngIf="isSignedIn == true">
      Inscription terminé ! Bienvenue {{ firstName }} {{ lastName }}
    </div>
  <div class="row" *ngIf="isSignedIn == false">
    <div class="col-sm-12 com-md-10 col-lg-8 mx-auto">
      <form [formGroup]="signinForm" (ngSubmit)="onSubmitSignUpForm()">

        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" class="form-control" placeholder="adresse@mail.com" formControlName="email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" class="form-control" placeholder="monmdpcomplexede6caractèresminimum" formControlName="password">
        </div>

        <div class="form-group">
          <label for="firstName">Prénom</label>
          <input id="firstName" type="text" class="form-control" placeholder="Bob" formControlName="firstName">
        </div>

        <div class="form-group">
          <label for="lastName">Nom</label>
          <input id="lastName" type="text" class="form-control" placeholder="Lebryk-hauleur" formControlName="lastName">
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="signinForm.invalid"> inscription </button>

      </form>
    </div>
  </div>
</div>
